/*
Author: Brijesh Patel
Email: patelbrijesh333@gmail.com
File: scss
*/

@import 'variable';
/*==============================================================
 For all pages
 ============================================================== */

#main-wrapper {
  width: 100%;
}
